{# templates/security/login.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Register
{% endblock %}

{% block body %}
	<style>
		body {
			background-color: #fff;
			margin: 0;
			height: 100vh;
			display: flex;
			justify-content: center;
			align-items: center;
			font-family: Arial, sans-serif;
		}

		.login-card {
			background-color: white;
			border: 1px solid #e0e0e0;
			border-radius: 8px;
			width: 500px;
			height: 350px;
			box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
		}

		.card-header {
			border-top-left-radius: 8px;
			border-top-right-radius: 8px;
			background-color: #13200e;
			color: white;
			text-align: center;
			padding: 10px 0;
		}

		.card-body {
			padding: 30px;
		}

		.form-label {
			font-size: 16px;
			margin-bottom: 5px;
			margin-right: 10px;
		}

		.form-control {
			border-radius: 4px;
			border: 1px solid #ccc;
			margin-bottom: 20px;
			font-size: 18px;
			padding: 10px;
		}

		.form-control:focus {
			border-color: #007bff;
			box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
		}

		.btn-primary {
			background-color: #13200e;
			border: none;
			border-radius: 5px;
			padding: 10px;
			width: 100%;
			margin-top: 10px;
			font-size: 16px;
			color: white;
		}

		.btn-primary:hover {
			background-color: #585c56;
			color: white;
		}

		.text-muted {
			display: block;
			text-align: center;
			margin-top: 10px;
			text-decoration: none;
			font-size: 14px;
		}

		.text-muted:hover {
			text-decoration: underline;
		}
	</style>

	<div class="login-card">
		<div class="card-header">
			<h2 class="mb-0">Register</h2>
		</div>
		<div class="card-body">
			<form
				action="{{ path('app_register') }}" method="post">
				{# CSRF Token for security #}
				<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

				<div class="mb-3">
					<label for="username" class="form-label">New Username</label>
					<input type="text" id="username" name="_username" class="form-control" required>
				</div>

				<div class="mb-3">
					<label for="password" class="form-label">New Password</label>
					<input type="password" id="password" name="_password" class="form-control" required>
				</div>

				<button type="submit" class="btn btn-primary">Register</button>
			</form>

			{% if error %}
				<div class="alert alert-danger mt-3">
					<p>
						{{error}}
					</p>
				</div>
			{% endif %}

		</div>
	</div>
{% endblock %}
